

html {
    font-family: "Lucida Sans", sans-serif;
}

.login-page {
	width: 360px;
	padding: 8% 0 0;
	margin: auto;
}

.form:hover, .form:focus, .form:active {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}
.form {
position: relative;
background: #FFFFFF;
max-width: 360px;
margin: 0 auto 100px;
padding: 45px;
text-align: center;
box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
transition: 0.3s;
}

.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}

.form button:hover,.form button:active,.form button:focus {
	background: rgba(13, 114, 203, 0.79);
}


.button {
	border-radius: 5px;
    background-color: rgba(255, 35, 35, 0.83);
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 5px;
    font-size: 14px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
body {
	background-color:rgba(13, 114, 203, 0.79);   
}